<div>
    <h2>Créer un compte</h2>

    <form name="createAccount.accountForm" novalidate>

        Type  de compte (obligatoire):
        <select ???>
        <option value="ccp">Compte courant</option>
        <option value="livretOrange">Livret Orange</option>
        </select>
        <span ng-show=" ??? ">
            Veuillez indiquer votre
        </span>
        <br>

        Propriétaire (obligatoire):
        <input ???/>
        <span ng-show="createAccount.accountForm.ownerName.$touched && createAccount.accountForm.ownerName.$error.required">
            Veuillez indiquer votre nom
        </span>
        <br />
        <br />

        Civilité:
        <input name="ownerCivility" type="radio" ??? value="Mr"/> Mr
        <input name="ownerCivility" type="radio" ??? value="Mme"/> Mme
        <br />
        <br />

        Email (obligatoire et valide):
        <input ??? />
        <span ng-show="???">
            Veuillez fournir votre addresse mail
        </span>
        <span ng-show="???">
            Cette addresse mail n'est pas valide
        </span>
        <br />
        <br />

        Téléphone (pattern correct):
        <input ??? ng-pattern="/^06(\d){8}$/">
        <span ng-show="???">Mauvais numéro (exemple: 0613567698)</span>
        <br />
        <br />

        Commentaires (maximum 10 caractères):
        <textarea ???></textarea>
        <span ng-show="???">
            10 lettres maximum
        </span>
        <br />
        <br />

        <button ng-click="???">Créer</button>
    </form>

    <button ng-click="createAccount.goToListAccounts()">List all accounts</button>
</div>
